/* 디테일 설명 섹션 */
#detail-intro {
  width: 100%;
  /* margin: 100px auto;
  display: flex;
  flex-direction: column; */
  position: relative;
}
.bg-sticky,
.bg-wrapper { 
  height: 0;
  padding-bottom: 90vh; 
}
.bg-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  transform: translateY(30%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-box {
  max-width: 1280px;
  display: flex;
  align-items: center;
}
#intro-box1 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#intro-box2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s ease-in-out;
}
.img-box {
  width: 70%;
}
.img-box img {
  width: 100%;
}
.text-box {
  width: 40%;
  word-break: keep-all;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

/* 디테일 api지도 섹션 */
#detail-section {
  margin-top: 150px;
  width: 100%;
  height: calc(100vh-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-color: #fdf6eb;
}

.detail-title div:nth-child(1) {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px;
}
.detail-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  word-break: keep-all;
}
.detailflex {
  display: flex;
  border-top: 1px solid black;
  padding: 2rem 0;
}
.detailtitle {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 45px;
  color: #f0a646;
}
.detailList {
  width: 50%;
  height: auto;
}
.detailList p {
  margin-bottom: 5px;
}
.detailList > p {
  margin-bottom: 20px;
}

/* map */
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option p {
  margin: 10px 0;
}
#menu_wrap .option button {
  margin-left: 5px;
}
#placesList li {
  list-style: none;
}
#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#placesList .item .info {
  padding: 10px 0 10px 55px;
}
#placesList .info .gray {
  color: #8a8a8a;
}
#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
#placesList .info .tel {
  color: #009900;
}
#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
#placesList .item .marker_1 {
  background-position: 0 -10px;
}
#placesList .item .marker_2 {
  background-position: 0 -56px;
}
#placesList .item .marker_3 {
  background-position: 0 -102px;
}
#placesList .item .marker_4 {
  background-position: 0 -148px;
}
#placesList .item .marker_5 {
  background-position: 0 -194px;
}
#placesList .item .marker_6 {
  background-position: 0 -240px;
}
#placesList .item .marker_7 {
  background-position: 0 -286px;
}
#placesList .item .marker_8 {
  background-position: 0 -332px;
}
#placesList .item .marker_9 {
  background-position: 0 -378px;
}
#placesList .item .marker_10 {
  background-position: 0 -423px;
}
#placesList .item .marker_11 {
  background-position: 0 -470px;
}
#placesList .item .marker_12 {
  background-position: 0 -516px;
}
#placesList .item .marker_13 {
  background-position: 0 -562px;
}
#placesList .item .marker_14 {
  background-position: 0 -608px;
}
#placesList .item .marker_15 {
  background-position: 0 -654px;
}
#pagination {
  margin: 10px auto;
  text-align: center;
}
#pagination a {
  display: inline-block;
  margin-right: 10px;
}
#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

.category {
  padding: 1rem 0;
}
.category button {
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
}

.page-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}
.page-btn:hover {
  background-color: #f0a646;
  color: white;
  border-radius: 15%;
}

.btn-on {
  color: #f0a646;
  font-weight: bold;
}

.prev-btn,
.next-btn {
  padding: 0.5rem;
  margin: 1rem;
  background-color: transparent;
  color: #f0a646;
  border-radius: 10px;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: #f0a646;
  color: white;
}
.selected {
  font-weight: bold;
  color: #f0a646;
}

/* detail-section img */
#detail-section > img {
  width: 50%;
  margin-top: -140px;
}
/* 푸터 배경색 지정 */
footer {
  background-color: #fdf6eb;
  
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  #intro-box1 {
    flex-direction: column;
  }
  #intro-box2 {
    flex-direction: column-reverse
  }
  .img-box {
    width: 90%;
  }
  .text-box {
    width: 90%;
    padding: 20px 0;
    font-size: 1.9rem;
  }
  #detail-section > img {
    width: 80%;
    margin-top: -30px;
  }
}

@media screen and (max-width: 600px) {
  .detailflex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detailtitle {
    justify-content: center;
    margin-bottom: 10px;
  }
}
