.footer_box {
  background-image: url("../images/body_background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_img{ width: 5rem; height: 5rem; }

/* 푸터 컨1 ------------------------------------ */
.footer_con1 {
  max-width: 1024px;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_service p {
  padding: 0.5rem 0;
}

/* 푸터 컨2 ------------------------------------ */
.footer_con2 {
  max-width: 1280px;
  margin-bottom: 20px;
  padding: 1rem;
}

/* 미디어쿼리 적용 */
@media screen and (max-width: 768px) {
  
  .footer_con2 .footer_text {
    font-size: 14px;
    word-break: keep-all;
  }
}