#guide {
  background-image: url("../images/guide.png");
  width: 100%;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  background-position: bottom;
  position: relative;
}
#guide::after {
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.guide_container {
  z-index: 99;
  width: 100%; height: 100%; max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex; justify-content: center;
}

.guide_container ul {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  font-size: 1.125rem;
  margin-top: 10rem; margin-bottom: 5rem;
  padding: 5rem;
}

.guide_container ul li {
  width: 100%;
  padding: 1rem;
}

.guide_container ul li:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}
/* footer */
#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
}
.footer-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem;
}
#service_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
}

#information {
  display: flex;
  justify-content: center;
}
ol {
  padding: 1rem;
}

ol img {
  width: 25px;
  height: 25px;
}

#information ol li:nth-child(1) {
  margin-bottom: 20px;
}

/* pc버전에서 이미지 제거 */
.guide_container ul div {
  display: none;
}

/* 480px 까지 ul부분 패딩 삭제코드 */
@media screen and (max-width: 480px) {
  .guide_container ul {
    padding: 0px;
  }

  /* 모바일버전에서 이미지 보이게 */
  .guide_container ul li:nth-child(2) {
    display: block;
  }

  .guide_container ul {
    margin: 0 auto;
  }

  
}