#guide {
  background-image: url("../images/guide.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: bottom;
  position: relative;
}
#guide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.guide_container {
  z-index: 90;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.guide_container ul {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  margin: 5rem 0;
  padding: 5rem;
}

.guide_container ul li {
  font-weight: normal;
  width: 100%;
  padding: 1rem;
}

.guide_container ul li:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 80px;
}

.guide_container ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.guide_container li i {
  color: #14471E;
  transform: rotate(45deg);
}
/* pc버전에서 이미지 제거 */
/* .guide_container ul li img {
  display: none;
} */

/* 768px 까지 ul부분 패딩 삭제코드 */
@media screen and (max-width: 768px) {
  .guide_container ul {
    height: 100%;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;  
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .guide_container ul li:nth-child(1) {
    padding-bottom: 70px;
  }

  .guide_container ul li {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  /* 모바일버전에서 이미지 보이게 */
  .guide_container ul li img {
    display: block;
    margin-right: 0.5rem;
  }
}
