#header {
  width: 100%;
}

.header-container {
  width: 100%;
  height: 100px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
<<<<<<< HEAD
=======
#check_box {
  display: none;
}
>>>>>>> 20a0ee4c714ae57c75238286271acad4e63ee6e8

#logo img {
  width: 4rem;
  transition: var(--width-transition);
}

#menu ul {
  display: flex;
}

#menu ul li {
  padding-left: 1.5rem;
  font-size: 1.25rem;
  transition: var(--font-transition);
}

.mo-header {
  display: none;
}

#check_box {
<<<<<<< HEAD
=======
  display: none;
}

#side_menu {
  display: none;
}

label {
>>>>>>> 20a0ee4c714ae57c75238286271acad4e63ee6e8
  display: none;
}

label {
  display: none;
}

#side_menu {
  display: none;
}


@media screen and (max-width: 768px) {
  #menu {
    display: none;
  }
  #menu ul li {
    font-size: 0.875rem;
  }
  #logo img {
    width: 3rem;
  }

  /* toggle */
  #check_box {
    display: none;
  }

  #side_menu {
    display: block;
  }

  #check_box + label {
    position: relative;
    display: block;
    width: 45px;
    height: 30px;
    cursor: pointer;
    z-index: 501;
  }

  #check_box + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all 300ms;
  }

  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }

  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }

  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }

  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }

  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }

  #side_menu {
    position: fixed;
    width: 500px;
    height: 100%;
    background-color: white;
    left: -500px;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 60px 20px 0px 20px;
  }

  #side_menu ul li {
    margin-top: 10px;
  }

  #check_box:checked + label + #side_menu {
    left: 0px;
    z-index: 500;
  }

  #side_menu {
    font-size: 20px;
  }

  .sub {
    display: none;
    font-size: 17px;
  }

  #side_menu > ul > li:hover > ul {
    display: block;
  }
}
