main {
  position: relative;
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/dogfan.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
  opacity: 0.5; /* 배경에만 투명도를 적용 */
  z-index: -1; /* 배경을 content의 뒤로 이동시킴 */
}
#main_container {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 타이틀 */
#login_title {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 75px;
}
#login_title p {
  font-size: 4rem;
  color: #14471e;
  font-family: "Maplestory Bold";
}
#login_title span {
  font-size: 2rem;
}

/* 폼 */
#login_form {
  width: 100%;
  max-width: 360px;
}
#login_form input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  background: #f5f5f5;
}
/* 버튼 */
#login_btn {
  width: 100%;
  padding: 0.8rem 1rem;
  cursor: pointer;
  background-color: #14471e;
  color: white;
  text-align: center;
  border-radius: 1rem;
  margin-top: 20px;
  transition-duration: 0.5s;
}
#login_btn:hover {
  background-color: #EE9B01;
}
/* 로그인 옵션 */
#login_option {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

/* 소셜 */
#login_social {
  display: flex;
  gap: 2rem;
}
/* 에러메세지 */
/* .id-error, .password-error {
    display: block;
    color: red;
    padding-bottom: 0.5rem;
} */
.error-text {
  display: block;
  color: red;
  padding-bottom: 0.5rem;
}

#login_social img {
  width: 48px;
  border-radius: 100%;
}
ul {
  gap: 2px;
}

li {
  position: relative;
  
}
li p {
  position: absolute;
  left: 15px;
  top: 10px;
  color: gray;
  background-color: #f5f5f5;
  padding: 5px;
  transition: top 0.3s ease, font-size 0.3s ease;
  border-radius: 0.8rem;
}
input {
  border: 3px solid transparent;
}
input:focus-within {
  border: 3px solid #14471e
}
