/* 섹션2 이벤트 코드 */
#section2-event {
  transition: opacity 1s ease-in-out;
}

/* 섹션-2*/
#section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/PC_left_bottom.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.section-2-container {
  width: 100%;
  max-width: 1280px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  z-index: 90;
  flex-direction: column;
}
.section-2-main-text {
  width: 50%;
  flex-direction: column;
  font-size: 4.5rem;
  font-family: "LOTTERIACHAB";
  text-align: center;
  transition: opacity 1s ease;
  margin-bottom: 80px;
}
.listbox {
  width: 60%;
  display: flex;
  justify-content: center;
  word-break: keep-all;
}
.section-2-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.section-2-list div {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  height: 150px;
}

.section-2-list i {
  color: #ee9b01;
  font-size: 1.8rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "SUIT-Regular";
}
.sub-text {
  font-weight: bold;
  font-family: "SUIT-Regular";
  font-size: 1.2rem;
}

.section-2-container {
  flex-direction: column;
  justify-content: center;
}

.section-2-main-text p:nth-child(1) {
  font-size: 4rem;
}
.section-2-main-text p:nth-child(2) {
  font-size: 2.5rem;
  color: #ee9b01;
}
.section-2-list {
  width: 100%;
}

.section-2-list div {
  text-align: center;
  margin-bottom: 30px;
  height: 160px;
}
.sub-title {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .section-2-main-text p:nth-child(1) {
    font-size: 3rem;
  }
  .section-2-main-text p:nth-child(2) {
    font-size: 1.8rem;
    color: #ee9b01;
  }
  .sub-title {
    font-size: 1.5rem;
  }
  .sub-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  /* 모바일 섹션2 */
  #section-2 {
    background-image: none;
  }

  .section-2-container {
    flex-direction: column;
    background-image: none;
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-top: 100px;
  }
  .section-2-main-text {
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
    margin-bottom: 4rem;
  }
  .section-2-list {
    width: 100%;
  }

  .listbox {
    width: 100%;
  }

  .section-2-main-text p {
    font-size: 3rem;
  }
  .section-2-list div {
    text-align: center;
    margin-bottom: 30px;
    height: 160px;
  }
}
