/* 섹션1 이벤트 코드 */
#section1-event, #section1-event2 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* 섹션1 배경 */
#section-1 {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main_img.png");
}
/* 메인 컨테이너 */
.section-1-container {
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: keep-all;
  padding-top: 150px;
}
/* 메인 설명 */
.section-1-container .sectiion-1-main-text {
  width: 100%;
  z-index: 50;
  line-height: 1;
  font-size: 1.5rem;
  text-align: center;
}

/* LET'S DOGETHER */
.section-1-container p:nth-child(1) {
  font-size: 9rem;
  transition: var(--font-transition);
  color: #14471e;
  font-family: "LOTTERIACHAB";
}
.section-1-container p:nth-child(2) {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.section-1-container P:nth-child(2) {
  font-family: 'yg-jalnan';
  font-size: 2.5rem;
  margin-top: 10px;
}
.section-1-container P:nth-child(2) b {
  font-weight: bold;
  transition: var(--font-transition);
  color: #f0a646;
}
.section-1-container p:nth-child(3) {
  font-family: 'yg-jalnan';
  font-size: 1.2rem;
  color: #f0a646;
  transition: var(--font-transition);
}
/* 버튼 */
.section-2-move {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* 모바일 알아보기 버튼 안보이게 */
.section-2-move a:nth-child(2) {
  display: none;
}
.section-2-move a {
  font-family: 'yg-jalnan';
  display: block;
  padding: 0.5rem 1.4rem;
  width: fit-content;
  background-color: #14471E;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin-top: 135px;
}

#arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}


@media screen and (max-width: 1024px) {
  #section-1 {
    height: 100vh;
    background-image: url("../images/section-1-m-t-img.svg");
    background-size: 900px;
    background-position: right bottom;
    transition: background-size 0.3s ease;
  }
  .section-1-container .sectiion-1-main-text {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section-1-container P:nth-child(1) {
    font-size: 6rem;
  }
  .section-1-container p:nth-child(2) {
    font-size: 2rem;
  }
  /* 주황글씨 부분 */
  .section-1-container P:nth-child(2) b {
    font-size: 2.1rem;
  }
  .section-1-container p:nth-child(3) {
    line-height: 17px;
    font-size: 0.9rem;
  }
  .section-1-container {
    height: 70%;
  }
  .section-1-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  /* PC 알아보기 버튼 숨기기 */
  .section-2-move a:nth-child(1) {
    display: none;
  }
  /* pc버전 화살표 숨기기 */
  #arrow {
    display: none;
  }
  .section-2-move a {
    margin-top: 0px;
  }
  /* 모바일 알아보기 보이게 */
  .section-2-move a:nth-child(2) {
    border-radius: 1.5rem;
    padding: 0.5rem 1.4rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #14471e;
    font-size: 1rem;
  }
  /* 모바일 p태그 3번째 색상변경 */
  .section-1-container p:nth-child(3) {
    font-size: 1rem;
    color: #808080;
    line-height: 20px;
    transition: var(--font-transition);
  }

  .section-1-container {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .section-1-container .sectiion-1-main-text {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section-1-container P:nth-child(1) {
    font-size: 4rem;
  }
  .section-1-container p:nth-child(2) {
    font-size: 1.2rem;
  }
  /* 주황글씨 부분 */
  .section-1-container P:nth-child(2) b {
    font-size: 1.5rem;
  }
  .section-1-container p:nth-child(3) {
    line-height: 17px;
    font-size: 0.9rem;
  }
  .section-1-container {
    height: 70%;
  }
  .section-1-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  /* PC 알아보기 버튼 숨기기 */
  .section-2-move a:nth-child(1) {
    display: none;
  }
  /* pc버전 화살표 숨기기 */
  #arrow {
    display: none;
  }

  .section-2-move a {
    margin-top: 0px;
  }
  /* 모바일 p태그 3번째 색상변경 */
  .section-1-container p:nth-child(3) {
    font-size: 1rem;
    color: #808080;
    line-height: 20px;
    transition: var(--font-transition);
  }

  .section-1-container {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 460px) {
  #section-1 {
    background-size: 700px;
  }
  .section-1-container p:nth-child(1) {
    font-size: 3rem;
  }
  .section-1-container p:nth-child(2) {
    font-size: 1rem;
  }
  .section-1-container p:nth-child(3){
    font-size: 0.875rem;
  }
}
