* {
  word-break: keep-all;
}
body {
  background: url(../images/checkbg.png) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.service {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
}
#terms_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#terms_form textarea {
  width: 100%;
  border: 1px solid lightgray;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* 개인정보 수집 및 이용동의 박스 */
.service_agree {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.service h2,
.service_agree h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.service_agree h4 {
  margin-bottom: 1rem;
}

.agree_box {
  width: 100%;
  margin-bottom: 50px;
}

#terms_form table {
  width: 100%;
}
#terms_form thead th {
  padding: 1rem 0;
}
#terms_form tbody td {
  padding: 0.5rem 0;
}
th,
td {
  text-align: left;
  border-bottom: 1px solid #7990a3;
}

#next_btn {
  margin: 1rem 0;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  background-color: #006400;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
}
#next_btn:hover {
  background-color: #14471E;
}
